{% extends 'base.html' %}
{% block title %}BookCrossing - О проекте{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>О проекте</h1>
    <p>Добро пожаловать в нашу онлайн-платформу обмена книгами — Букроссинг!

        Мы верим в силу чтения и ценим книги как незаменимый источник знаний, вдохновения и удовольствия. Наша цель -
        создать сообщество любителей чтения, которые хотят поделиться своими любимыми книгами и обрести новые сокровища
        для своих полок.

        Букроссинг - это уникальная платформа, где каждая книга может найти нового читателя и найти свое новое домашнее
        место. Проект основан на принципе "отпуская книгу в свободное плавание". Вы просто регистрируетесь на сайте,
        добавляете свои книги в нашу базу данных и предлагаете их для обмена. Вам также доступны книги других
        пользователей, которые вы можете запросить и обменяться.

        Мы уверены, что Букроссинг не только помогает найти новые книги, но и способствует общению и взаимодействию
        между людьми. Вы сможете поделиться впечатлениями о прочитанном, обсудить книги с другими участниками
        сообщества, а может быть, даже завести новых друзей, разделяющих вашу страсть к чтению.

        На нашей платформе вы найдете широкий выбор книг разных жанров и направлений — от классической литературы до
        научной фантастики, от детских сказок до философских произведений. У нас есть что-то для каждого читателя!

        Мы призываем вас присоединиться к нашему сообществу Букроссинга и стать частью увлекательного путешествия в мир
        книг. Давайте вместе делиться книжными сокровищами, находить новые источники вдохновения и расширять свой
        кругозор!

        Присоединяйтесь к Букроссингу сегодня и откройте для себя новые горизонты чтения!</p>
</div>
{% endblock %}